/* ====================== */
/* Custom Properties      */
/* ====================== */

:root {
  /* Colors */
  --clr-primary-900: 158, 36%, 37%;
  --clr-primary-500: 157, 34%, 25%;
  --clr-primary-100: 30, 38%, 92%;

  --clr-neutral-900: 212, 21%, 14%;
  --clr-neutral-500: 228, 12%, 48%;
  --clr-neutral-100: 0, 0%, 100%;

  /* Font Family & Font Size & Font Weight */
  --ff-body: "Montserrat", sans-serif;
  --ff-heading: "Fraunces", serif;
  --fs-body: 0.875rem;

  --fw-semi-bold: 500;
  --fw-bold: 700;

  /* Line heights */
  --lh-body: 1.6;
  --lh-heading: 1.1;
}

/* ====================== */
/* CSS Reset              */
/* ====================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ====================== */
/* My Styles              */
/* ====================== */

body {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  background-color: hsl(var(--clr-primary-100));
  color: hsl(var(--clr-neutral-900));
}

.container {
  max-width: 90rem;
  margin: 0 auto;
}

.item-box {
  background-color: hsl(var(--clr-neutral-100));
  border-radius: 5px;
  color: hsl(var(--clr-neutral-900));
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 36rem;
}

.item-img-box {
  background-image: url(../images/image-product-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.item-content {
  padding: 2rem;
}

.item-tag {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 4px;
  color: hsl(var(--clr-neutral-900), 0.5);
}

.item-heading {
  font-size: 2rem;
  font-family: var(--ff-heading);
  line-height: var(--lh-heading);
  padding: 0.3em 0 0.5em 0;
  font-weight: var(--fw-bold);
}

.item-description {
  color: hsl(var(--clr-neutral-500));
  line-height: var(--lh-body);
}

.item-price-box {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.item-price-new {
  font-size: 2rem;
  color: hsl(var(--clr-primary-900));
  font-family: var(--ff-heading);
}

.item-price-old {
  text-decoration: line-through;
  color: hsl(var(--clr-neutral-900), 0.5);
}

.item-button {
  align-items: center;
  background-color: hsl(var(--clr-primary-900));
  border-radius: 10px;
  border: none;
  color: hsl(var(--clr-primary-100));
  cursor: pointer;
  display: flex;
  font-weight: var(--fw-bold);
  gap: 0.5em;
  justify-content: center;
  padding: 1em 1.5em;
  transition: all 0.3s;
  width: 100%;
}

.item-button:hover {
  background-color: hsl(var(--clr-primary-500));
}

.item-icon {
  font-size: 1.5rem;
}

/* ====================== */
/* Media Query            */
/* ====================== */

@media (max-width: 37em) {
  .item-box {
    width: 85%;
    grid-template-columns: 1fr;
    grid-template-rows: 1.3fr 2fr;
  }

  .item-img-box {
    background-image: url("../images/image-product-mobile.jpg");
  }

  .item-content {
    padding: 2rem 2.3rem;
  }
}
